<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2012, 2020 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>CTSJAXRSSECURITYCONTEXTBASIC</servlet-name>
        <servlet-class>servlet_adaptor</servlet-class>
        <init-param>
            <param-name>jakarta.ws.rs.Application</param-name>
            <param-value>ee.jakarta.tck.ws.rs.ee.rs.core.securitycontext.TSAppConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>        
		<security-role-ref>
		        <role-name>staff</role-name>
		        <role-link>DIRECTOR</role-link>
		</security-role-ref>
		<security-role-ref>
		        <role-name>guest</role-name>
		        <role-link>OTHERROLE</role-link>
		</security-role-ref>
    </servlet>
	<security-constraint>
	    <display-name>Servlet</display-name>
	    <web-resource-collection>
	        <web-resource-name>Servlet</web-resource-name>
	        <description></description>
	        <url-pattern>/Servlet/*</url-pattern>
	        <http-method>GET</http-method>
	        <http-method>POST</http-method>
	        <http-method>HEAD</http-method>
	        <http-method>PUT</http-method>
	    </web-resource-collection>
	    <auth-constraint>
	        <description>Have to be a USER</description>
	        <role-name>DIRECTOR</role-name>
	        <role-name>OTHERROLE</role-name>
	    </auth-constraint>
	    <user-data-constraint>
	      <transport-guarantee>NONE</transport-guarantee>
	    </user-data-constraint>
	</security-constraint>
    <servlet-mapping>
        <servlet-name>CTSJAXRSSECURITYCONTEXTBASIC</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	<login-config>
	    <auth-method>BASIC</auth-method>
	</login-config>
	<security-role>
		<description>director</description>
		<role-name>DIRECTOR</role-name>
	</security-role>
	<security-role>
		<description>some other role name</description>
		<role-name>OTHERROLE</role-name>
	</security-role>
</web-app>
