PropertiesLogin {
    org.apache.openejb.core.security.jaas.PropertiesLoginModule required
        Debug=true
        UsersFile="users.properties"
        GroupsFile="groups.properties";
};
SQLLogin {
    org.apache.openejb.core.security.jaas.SQLLoginModule required
    	jdbcURL="jdbc:hsqldb:mem:sqltest"
    	userSelect="SELECT username, password FROM users WHERE username = ?"
    	groupSelect="SELECT username, grp FROM groups WHERE username = ?";
};
ScriptLogin {
    org.apache.openejb.core.security.jaas.ScriptLoginModule required
    	engineName="js"
    	scriptURI="";
};
ServiceProviderLogin {
    org.apache.openejb.core.security.jaas.ServiceProviderLoginModule required;
};