PropertiesLogin {
    org.apache.openejb.core.security.jaas.PropertiesLoginModule required
        Debug=true
        UsersFile="users.properties"
        GroupsFile="groups.properties";
};
SQLLogin {
    org.apache.openejb.core.security.jaas.SQLLoginModule required
    	jdbcURL="jdbc:hsqldb:mem:sqltest"
    	userSelect="SELECT user, password FROM users WHERE user = ?"
    	groupSelect="SELECT user, grp FROM groups WHERE user = ?";
};