target
.classpath
.project
.settings
.idea
*.ipr
*.iml
*.log
*~
quick.bat
/tomee/tomee-plume-webapp/overlays/
/tomee/tomee-plus-webapp/overlays/
/temp
/report.txt

container/openejb-core/dump/ra--814688921connector.xml

container/openejb-core/activemq-data/localhost/KahaDB/db.data

container/openejb-core/dump/ejb-jar--370669870EjbModule744445106.xml

container/openejb-core/dump/ejb-jar-1363476294EjbModule968744855.xml

container/openejb-core/dump/openejb-jar--129691161EjbModule394307052.xml

container/openejb-core/dump/openejb-jar-787824194EjbModule744445106.xml

container/openejb-core/dump/ra--1240593527email-ra.xml

container/openejb-core/dump/ra--1353760463email-ra.xml

container/openejb-core/dump/ra--1641993450connector.xml

container/openejb-core/dump/ejb-jar--73712687EjbModule349303287.xml

container/openejb-core/activemq-data/localhost/KahaDB/lock

container/openejb-core/dump/ejb-jar-497662698EjbModule394307052.xml

container/openejb-core/dump/openejb-jar--622173560EjbModule349303287.xml

container/openejb-core/dump/openejb-jar-234953573EjbModule968744855.xml

container/openejb-core/dump/ra--403753390connector.xml

container/openejb-core/dump/ra--664232322connector.xml

container/openejb-core/dump/ra--677882181connector.xml

container/openejb-core/activemq-data/localhost/KahaDB/db.redo

container/openejb-core/dump/ra-2088666390connector.xml

container/openejb-core/dump/ra-47774206email-ra.xml

container/openejb-core/dump/ra-612621685email-ra.xml
