target
.classpath
.project
.settings
.idea
*.ipr
*.iml
*.log
*.vscode
*~
quick.bat
/tomee/tomee-plume-webapp/overlays/
/tomee/tomee-plus-webapp/overlays/
/temp
/report.txt
nb-configuration.xml
.factorypath
.history
**/test/key
tck/**/temp
examples/jaxrs-json-provider-jettison/temp/
transformer/jakartaee-prototype/
transformer/transformer-0.1.0-SNAPSHOT/
.DS_Store
