#set( $rpc = $xmlrpc.connect("dblevins:xxxx","http://issues.apache.org/jira/rpc/xmlrpc") )
#set( $version = $rpc.getVersion("OPENEJB", "3.1.1") )
#set ( $versionId = $version.id )

$version.id

#set ( $jira = $rss.fetch("http://issues.apache.org/jira/secure/IssueNavigator.jspa?view=rss&&pid=12310530&status=5&status=6&fixfor=${versionId}&tempMax=1000&reset=true&decorator=none") )
#set( $issues = $jira.issues )

Apache OpenEJB $version

$date

New Features:

#foreach ( $issue in $issues.equals("type", "New Feature").descending("id") )
  * [$issue.key] $issue.summary
#end

Improvements:

#foreach ( $issue in $issues.equals("type", "Improvement") )
  * [$issue.key] $issue.summary
#end

Bugs:

#foreach ( $issue in $issues.equals("type", "Bug").sort("priority") )
  * [$issue.key] $issue.summary
#end

Tasks & Sub-Tasks:

#foreach ( $issue in $issues.equals("type", "Task").sort("summary") )
  * [$issue.key] $issue.summary
#end
#foreach ( $issue in $issues.equals("type", "Sub-task").sort("summary") )
  * [$issue.key] $issue.summary
#end



 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Unimplemented Features, bugs, limitations

#set ( $jira = $rss.fetch("http://issues.apache.org/jira/secure/IssueNavigator.jspa?view=rss&&pid=12310530&status=1&status=3&status=4&version=${versionId}&tempMax=1000&reset=true&decorator=none") )
#set( $issues = $jira.issues )

#foreach ( $issue in $issues.sort("priority") )
  * [$issue.key] $issue.summary
#end