<h2>posts</h2>
<table cellspacing='0px'>
	<thead>
	<tr>
		<% for(var attr in Blog.Models.Post.attributes){%>
            <% if(attr == 'id' || attr == 'comments') continue; %>
			<th><%= attr%> </th>	 
		<%}%>
		<th>Options</th>
	</tr>
	</thead>
	<tbody>
		<%= $.View('//blog/views/post/list',{posts: posts})%>
	</tbody>
</table>
<h2>New post</h2>
<form>
	<% for(var attr in Blog.Models.Post.attributes){ %>
		<% if(attr == 'id' || attr == 'comments') continue;%>
		<div>
			<label><%= attr %> </label><br />
			<input type="text" value="" name="<%= attr %>"/>
		</div>
	<%}%>
	<input type='submit' value='Create'/>
</form>