<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <servlet>
        <servlet-name>loader</servlet-name>
        <servlet-class>org.apache.openejb.loader.LoaderServlet</servlet-class>

        <init-param>
            <param-name>openejb.home</param-name>
            <param-value>/Users/dblevins/work/openejb3/assembly-standalone/target/openejb-3.0-SNAPSHOT-incubating</param-value>
        </init-param>

        <init-param>
            <param-name>openejb.loader</param-name>
            <param-value>tomcat-webapp</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
      <servlet-name>loader</servlet-name>
      <url-pattern>/remote/*</url-pattern>
    </servlet-mapping>

</web-app>
