<div class="tomee-log">
    <div class="navbar navbar-fixed-bottom" style="position: absolute;">
        <div class="navbar-inner">
            <div class="container" style="width: auto; padding: 0 20px;">
                <ul class="nav pull-right">
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>