<table class="table">
    <thead>
    <tr>
        <th>{{i18n "application.jndi.path"}}</th>
    </tr>
    </thead>
    <tbody>
    {{#jndi}}
    <tr>
        <td>{{this}}</td>
    </tr>
    {{/jndi}}
    </tbody>
</table>