<div>
    <div class="modal hide fade in" style="display: block;">
        <div class="modal-header">
            <h3 id="myModalLabel">Connection exception</h3>
        </div>
        <div class="modal-body">
            <p>The application is not connected to the server.</p>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
</div>
