<div class="tomee-log">
    <div class="navbar navbar-fixed-bottom" style="position: absolute;">
        <div class="navbar-inner">
            <div class="container" style="width: auto; padding: 0 20px;">
                <ul class="nav pull-right">
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle"
                           data-toggle="dropdown">
                            <span class="log-file-name">{{i18n "application.log.select.a.file"}}</span></a>
                        <ul class="dropdown-menu tomee-log-files"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>