<div class="tomee-log">
    <div class="tomee-log-output"></div>
    <div class="navbar navbar-inverse bbar">
        <div class="navbar-inner">
            <div class="buttons pull-right">
                <ul class="nav">
                    <li class="dropdown">
                        <div class="btn-group dropup">
                            <button class="btn btn-primary">
                                <span class="log-file-name">{{i18n "application.log.select.a.file"}}</span>
                            </button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu tomee-log-files"></ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>