<div class="tomee-console">
    <div class="tomee-console-output"></div>
    <div class="splitter"></div>
    <div class="tomee-code"></div>
    <div class="navbar navbar-inverse bbar">
        <div class="navbar-inner">
            <div class="btn-group dropup tomee-execute-webservices-group" tab-name="webservices">
                <a class="btn dropdown-toggle tomee-execute-webservices-btn" href="#">
                    {{i18n "application.webservices"}}
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu webservices-div"></div>
            </div>
            <div class="btn-group dropup tomee-execute-jndi-group" tab-name="jndi">
                <a class="btn dropdown-toggle tomee-execute-jndi-btn" href="#">
                    {{i18n "application.jndi"}}
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu jndi-div"></div>
            </div>
            <div class="buttons pull-right">
                <button type="button" class="btn tomee-execute-clear-btn">
                    {{i18n "application.console.clear.output"}}
                </button>
                <button type="button"
                        class="btn btn-primary tomee-execute-btn">
                    {{i18n "application.console.run"}}
                </button>
            </div>
        </div>
    </div>
</div>