<div class="modal hide fade in" style="display: block;">
    <div class="modal-header">
        <h3 id="myModalLabel">{{i18n "connection.exception"}}</h3>
    </div>
    <div class="modal-body">
        <p>{{i18n "connection.exception.message"}}</p>
    </div>
</div>