<div class="tomee-log">
    <div class="tomee-log-output"></div>
    <div class="navbar navbar-fixed-bottom tomee-log-bbar" style="position: absolute;">
        <div class="navbar-inner">
            <div class="container" style="width: auto; padding: 0 20px;">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <div class="btn-group">
                            <button class="btn btn-primary">
                                <span class="log-file-name">{{i18n "application.log.select.a.file"}}</span>
                            </button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu tomee-log-files"></ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>