<div class="tomee-status">
    <div class="tomee-status-output"></div>
    <div class="navbar navbar-inverse bbar">
        <div class="navbar-inner">
            <div class="buttons">
                <button class="btn btn-primary install" disabled>
                    <span>{{i18n "application.status.install"}}</span>
                </button>
            </div>
        </div>
    </div>
</div>