Package: ${classifier}
Version: ${tomeeVersion}
Section: java
Priority: optional
Homepage: http://tomee.apache.org/
Architecture: all
Installed-Size: ${inMB}
Maintainer: devlist <dev@tomee.apache.org>
Description: Apache TomEE Library (${classifier})
 This package provides libraries required by Apache TomEE
