<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="$JAVA_HOME\bin\java.exe"
                      arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=$HTTP_PLATFORM_PORT -jar &quot;/home/site/wwwroot/cloud-azure-8.0.0-SNAPSHOT-exec.jar&quot;">
        </httpPlatform>
    </system.webServer>
</configuration>