<form role="form">
    <div class="form-group">
        <input type="text" class="form-control ux-context-user" placeholder="{{i18n 'scripting.user.name'}}">
    </div>
    <div class="form-group">
        <input type="password" class="form-control ux-context-password" placeholder="{{i18n 'scripting.user.password'}}">
    </div>
    <div class="form-group">
        <input type="text" class="form-control ux-context-realm" placeholder="{{i18n 'scripting.user.realm'}}">
    </div>
</form>