<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex8-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://tomee.apache.org/documentation.html">{{i18n "application.name"}}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex8-collapse">
        <ul class="nav navbar-nav">
            <li class="ux-app-menu-item ux-dashboard"><a href="sessions">{{i18n "dashboard"}}</a></li>
            <li class="ux-app-menu-item ux-scripting"><a href="scripting">{{i18n "scripting"}}</a></li>
            <li class="ux-app-menu-item ux-log-files"><a href="log-files">{{i18n "log.files"}}</a></li>
        </ul>
    </div>
</nav>
<div class="ux-contentarea">
</div>
