<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{i18n "application.name"}}</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="ux-contentarea"></div>
</div>