<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/tomee.css" rel="stylesheet">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">{app_name}</a>

            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i> Username
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Log</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<div style="padding: 5px;">
    <div style="float:left; width:33%; min-width:170px;">
        <div>
            <div class="well t-panel">
                <h3 style="position: relative; background-color: #d3d3d3; padding-left: 5px">Jndi</h3>
                <div id="{jndi_tree_div_id}" style="height: 250px; position: relative; overflow: auto;"></div>
            </div>
        </div>
        <div>
            <div class="well t-panel">
                <h3 style="position: relative; background-color: #d3d3d3; padding-left: 5px">Saved Objects</h3>

                <div style="height: 250px">grid here</div>
            </div>
        </div>
    </div>
    <div style="float:left; width:33%; min-width:170px; margin-left: 5px; margin-right: 5px;">
        <div>
            <div class="well t-panel">
                <h3 style="position: relative; background-color: #d3d3d3; padding-left: 5px">Console</h3>

                <div style="height: 500px">grid here</div>
            </div>
        </div>
    </div>
    <div style="float:left; width:33%; min-width:170px;">
        <div>
            <div class="well t-panel">
                <h3 style="position: relative; background-color: #d3d3d3; padding-left: 5px">MDBs</h3>

                <div style="height: 250px">grid here</div>
            </div>
        </div>
        <div>
            <div class="well t-panel">
                <h3 style="position: relative; background-color: #d3d3d3; padding-left: 5px">WebServices</h3>

                <div style="height: 250px">grid here</div>
            </div>
        </div>
    </div>
</div>

<div style="padding-top: 50px;">
    <hr style="margin-top: 0px; margin-bottom: 0px;">

    <footer>
        <p>{footer}</p>
    </footer>
</div>