name: CI Main

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up JDK 17
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-main-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-main-m2

    - name: maven-settings-xml-action
      run: echo "<settings xmlns=\"http://maven.apache.org/SETTINGS/1.0.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd\"> <activeProfiles> <activeProfile>github</activeProfile> </activeProfiles> <profiles> <profile> <id>github</id> <repositories> <repository> <id>central-repo</id> <url>https://repo.maven.apache.org/maven2</url> <releases> <enabled>true</enabled> </releases> <snapshots> <enabled>false</enabled> </snapshots> </repository> </repositories> <pluginRepositories> <pluginRepository> <id>central-plugin-repository</id> <url>https://repo.maven.apache.org/maven2</url> <releases> <enabled>true</enabled> </releases> <snapshots> <enabled>false</enabled> </snapshots> </pluginRepository> </pluginRepositories> </profile> </profiles> <servers/> <mirrors/> <pluginGroups/> </settings>" > ~/.m2/settings.xml

    - name: Compile with Sanity checks
      run: mvn help:system -U -ntp --batch-mode --show-version --fail-at-end clean install -DfailIfNoTests=false -DskipTests -Pstyle,rat
      env:
        MAVEN_OPTS: -Xmx2048m

      # We have some LF vs CRLF files from the Tomcat ZIPs, so we need to convert them to avoid diffs in git
    - name: Convert Config Files in BOM Module from CRLF to LF
      run: find ./boms -type f -exec sed -i -e 's/\r$//' {} \;

    - name: Create Pull Request after BOM Regeneration
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        base: main
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: "Minor: Regenerated BOMs for ${{ github.sha }}"
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        signoff: true
        branch: regenerate_boms_after_dep_upgrade
        delete-branch: true
        title: "Regenerated BOMs after dependency upgrades"
        body: |
          Found some uncommited changes (from BOM regeneration) after running build on TomEE main
        labels: |
          dependencies
        assignees: jungm,dblevins,jeanouii,jgallimore,rzo1
